@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}


.header {
    height: 56px;
    background-color: #fff;
}


body {
    background-color: #FFFCED;
    font-family: IBM Plex Sans;
    font-size: 40pt;
}

.text {
  margin-top: 700px;
  margin-left: 940px;
  max-width: 930px;
}


/* --a: 0.2;
--b: 0;
--c: 0;
--d: 1;
--e: 0;
--f: 0.2;
--g: 0;
--h: 0;
--i: 1;
--j:0 */

.magic-container:not(.magic-container_editor), .magic-container_editor:not(.magic-container__is-mobile) {
    height:calc(var(--A) * var(--mult));
}

.magic-container:not(.magic-container_editor) .magic-card, .magic-container_editor:not(.magic-container__is-mobile) .magic-card {
    left: calc(var(--b) * var(--mult));
    top: calc(var(--c) * var(--mult));
    width: calc(var(--a) * var(--mult));
    z-index:var(--d)
}

.magic-container:not(.magic-container_editor) .magic-card__inner, .magic-container_editor:not(.magic-container__is-mobile) .magic-card__inner {
    rotate:calc(var(--e) * 1deg)
}

.magic-panel {
    background-color: #f7f7f7;
    display: flex;
    font-size: 13px;
    justify-content: center;
    position: fixed;
    top: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index:1000
}

.magic-panel__clear, .magic-panel__is-mobile-label, .magic-panel__send {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font: inherit;
    padding: 0 5px;
    transition:background-color .05s linear
}

.magic-panel__clear:hover, .magic-panel__is-mobile-label:hover, .magic-panel__send:hover {
    background-color:rgba(74, 74, 74, .1)
}

.magic-panel__is-mobile-label {
    align-items: center;
    display: flex;
    gap:5px
}

.magic-container {
    margin: 0 auto;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    --mult:100vw
}

.magic-card {
    position:absolute
}

.magic-card__inner {
    animation: none;
    animation: var(--l, none);
    cursor: var(--k) 64 64, auto;
    display:block
}

.magic-card__image {
    display: block;
    opacity: 1;
    transition: opacity .2s ease;
    width:100%
}

.magic-card__image[hidden] {
    opacity:0
}


.magic-container:not(.magic-container_editor) {
    max-width:1340px
}

@media (min-width: 1340px) {
    .magic-container:not(.magic-container_editor) {
        --mult:1340px
    }
}

@media (max-width: 600px) {
    .magic-container:not(.magic-container_editor) {
        height:calc(var(--B) * var(--mult))
    }

    .magic-container:not(.magic-container_editor) .magic-card {
        left: calc(var(--g) * var(--mult));
        top: calc(var(--h) * var(--mult));
        width: calc(var(--f) * var(--mult));
        z-index:var(--i)
    }

    .magic-container:not(.magic-container_editor) .magic-card__inner {
        rotate:calc(var(--j) * 1deg)
    }
}
